body{
  font-family: sans-serif;
  margin: 0;
  text-align: center;
  background: #efefef;
}
nav,main {
  display: grid;
  grid-template-columns: 5% 2fr 2fr 5%;
} 
main{
  background-color: white;
}
footer{
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
}
main section:first-child,table{
  grid-column: 2/4;
}
main section:nth-child(2n){
  grid-column: 2/3;
}
section,header>h1>q{
  border-radius: 25px;
  border:1px solid lightgray;
  background-color: #FFFFF9;
  padding: 1%;
  margin: 2%;
}
#logo,footer>p {
    grid-column: 2/3;
    text-align: left;
}
#logo{
  border-radius: 5%;
  margin: 1%;
}
ul{
  grid-column:3/4;
  text-align: right;
}
li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  grid-column: 3/4;
}
#active a{
  color:#FFA500;
}
a{
  text-decoration: none;
}
header{
  display: grid;
  grid-template-rows: 2fr;
}
#background-img{
  max-width: 100%;
  height: 100%;
  grid-area: 1/1;
}
header>h1{
  order: 1;
  grid-area: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid_transport{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid_transport  img{
  grid-row: 1/3;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
table{
  border: solid;
  border-collapse: collapse;
  height: 50%;
  width: 100%;
  margin: auto;
}
th,td{
  border: solid;
  padding: 0.5% 0%;
}
caption{
  font-weight: bold;
  margin: 2%;
}

/*Contact*/

main section:first-child img{
  grid-column: 2/3;
}

form{
  display: grid;
  grid-template-columns: 5% 2fr 2fr 5%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 5%;
  border-radius: 5%;
  height: 100%;
}

label:first-child{ /*genre*/
  grid-row: 3/4;
  grid-column: 2/3;
}

label:nth-child(2){ /*nom*/
  grid-row: 2/3;
  grid-column: 2/3;
}

label:nth-child(3){/*prenom*/
  grid-row: 2/3;
  grid-column: 3/4;
}

label:nth-child(4){/*email*/
  grid-row: 3/4;
  grid-column: 3/4;
}

label:nth-child(5){/*Message*/
  grid-row: 4/6;
  grid-column: 2/4;
}

form > button{
  grid-row: 7/8;
  grid-column: 3/4;
  height: 100%;
}
#img_verticale{
  border-radius: 5%;
}
#phrase_img{
  grid-row: 1/2;
  grid-column: 2/3;
}

#formulaire{
  grid-row: 1/2;
  grid-column: 3/4;
}

label>input{ /* input de nom prenom email*/
  padding-left: 30%;
  height: 35%;
}

#msg{ /* input message*/
  height: 100%;
  padding-left: 65%;
}

label>select{ /*Choix option*/
  height: 42%;
  padding-left: 60%;
}

#select{ /*Interieur des options pour genre*/
  font-size: 100%;
}

@media (min-width:801px) { 
    i.fa-solid.fa-bars{
      display: none;
    }
  
}

  @media (max-width:800px) { 
      i.fa-solid.fa-bars{
        text-align: end;
        margin-top: auto;
        margin-bottom: auto;
        font-size: larger;
      }
      ul{
        display: none;
      }
      main,footer{
        display: block;
      }
      table{
        font-size: small;
      }
      footer>p{
        text-align: center;
      }
    }