body{
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  margin: 0;
}
nav {
  background: #efefef;
  height: 3rem;
  
}  
#logo {
    float:left;
    margin:0;
}
  
#navbar {
    float: right;
} 
li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
#active a{
  color:orange;
}
a{
  text-decoration: none;
}







