body{
  font-family: sans-serif;
  margin: 0;
  text-align: center;
}
nav {
  background: #efefef;
  display: grid;
  grid-template-columns: 5% 2fr 2fr 5%;
} 
main{
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
}
main section:first-child{
  grid-column: 2/4;
}
main section:nth-child(2n){
  grid-column: 2/3;
}
section{
  border-radius: 25px;
  border:1px solid lightgray;
  background-color: #FFFFF9;
  padding: 1%;
  margin: 2%;
}
#logo {
    grid-column: 2/3;
    text-align: left;
    margin:0;
    background-size: cover;
}
ul{
  grid-column:3/4;
  text-align: right;
}
li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  grid-column: 3/4;
}
#active a{
  color:orange;
}
a{
  text-decoration: none;
}







